.analog {
	font-size:10px;
	margin:0;
	.face {
		position:relative;
		height:40em;
		width:40em;
		vertical-align:middle;
		border:0.1em solid;
		box-sizing:border-box;
		border-radius:50%;
		margin:10px;
		//-webkit-transform:rotate(-90deg);
	}
	.hand {
		z-index:1;
		position:absolute;
		display:inline-block;
		border-radius:50%;
		box-sizing:border-box;
		height:100%;

		-webkit-transform-origin:50% 50%;
		-webkit-transition-property: -webkit-transform;
		-webkit-transition-timing-function:linear;
		-webkit-transition-duration:1s;
		&:after {
			top:49%;
			left:50%;
			position:absolute;
			content: ' ';
			height:2%;
			width:60%;
			background-color:rgba(255,255,255,0.8);
			outline:1px solid #333;
			box-shadow: 0 0em 0.5em #333;
		}			
			&.hour {
				top:22.5%;
				left:22.5%;
				width:55%;
				height:55%;
			}
			&.minute {
				top:10%;
				left:10%;
				width:80%;
				height:80%;
			}
			&.second {
				top:5%;
				left:5%;
				width:90%;
				height:90%;
			}

	}
	.face.sphere {
		border-radius:50%;
		box-sizing:border-box;

		.hand {
			-webkit-transform-origin:50% 50%;
			border:0 solid rgba(20,20,20,1);
			border-right-width: 1em;
			border-left-width: 0.2em;
			border-left-color: rgba(200,200,200,0.3);
			background-color:rgba(50,50,50,0.6);
			-webkit-transition-timing-function:linear;
			&:after {
				content:none;
				box-shadow: 0 0em 0.5em #ccc;
			}			

			&:before {
				font-size:1.8em;
				text-align:left;
				vertical-align:baseline;
				top:49%;
				left:100%;
				margin:-0.5em 15%;
				overflow:visible;
				position:absolute;
				content: attr(data-time);
				height:2%;
				width:100%;
				color:#999;
				text-shadow: 0 0.1em 0.25em #000;
			}			
		}

	}
	/*
	.face.numbers:before {
		font-size:1.4em;
		font-weight:normal;
		position:absolute;
		display:inline-block;
		content:'12 11 1 10 2 9 3 8 4 7 5 6';
		text-align:justify;
		word-spacing:10em;
		white-space:no-wrap;
		overflow:visible;
		height:auto;
		width:auto;
		border:1px solid green;
		//-webkit-transform:

	}
	*/
	.face.ticks:after {
		content : '1 2 3 4 5 6 7 8 9 10 11 12';
		z-index:0;
		box-sizing:border-box;
		position:absolute;
		display:block;
		width:100%;
		height:100%;
		/*
		background-image : -webkit-linear-gradient(0deg, transparent 0%,transparent 49.5%,#000000 50%,transparent 50.5%,transparent 100%), -webkit-linear-gradient(90deg, transparent 0%,transparent 49.5%,#000000 50%,transparent 50.5%,transparent 100%),
		-webkit-linear-gradient(45deg, transparent 0%,transparent 49.5%,#000000 50%,transparent 50.5%,transparent 100%),-webkit-linear-gradient(22.5deg, transparent 0%,transparent 49.5%,#000000 50%,transparent 50.5%,transparent 100%), -webkit-linear-gradient(67.5deg, transparent 0%,transparent 49.5%,#000000 50%,transparent 50.5%,transparent 100%),
		-webkit-linear-gradient(112.5deg, transparent 0%,transparent 49.5%,#000000 50%,transparent 50.5%,transparent 100%),-webkit-linear-gradient(135deg, transparent 0%,transparent 49.5%,#000000 50%,transparent 50.5%,transparent 100%),-webkit-linear-gradient(157.5deg, transparent 0%,transparent 49.5%,#000000 50%,transparent 50.5%,transparent 100%);
		*/
		border-radius:50%;
	}
	.ticks .hand{
		-webkit-transition-timing-function:cubic-bezier(0,1,0,1.1);
	}
}